<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      .header-info {
        text-align: center;
      }
      .name {
        font-size: 18px;
        font-weight: 600;
        color: #252933;
      }
      .contact {
        font-size: 14px;
        color: #515767;
        margin: 8px 0 2px;
      }
      .line {
        margin: 0 10px;
      }
      .link {
        font-size: 14px;
        color: #515767;
      }
    </style>
  </head>
  <body>
    <section class="header-info">
      <p class="name">测试</p>
      <p class="contact"><span>18812345678</span><span class="line">|</span><span>loose.li@foxmail.com</span></p>
      <p class="link">个人主页：https://www.looseli.top</p>
    </section>
  </body>
</html>
